
<router-outlet>
<!--Fondo-->
<div class="fondo">
  <!--cuadros de encabezado-->
  <div class="encabezado">
  <app-encabezado></app-encabezado></div>
  <div class="menu">
  <app-menu></app-menu></div>
  <!--cuadro de contenido-->
  <div class="contenido" >
  <app-contenido></app-contenido></div>
  <!--penultimos cuadros-->
  <div class="medio"></div>
  <div class="medio1"></div>
  <div class="pie">
  <app-pie></app-pie></div>
  <!--cuadro de pie de pagina-->
  <div class="piso"></div>
</div>
</router-outlet>
